.file {
    text-align: center;
    border: 5px solid transparent;
    width: 84px;
    height: 84px;
    justify-self: center;
}

.current {
    background-color: cyan;
    border-radius: 2px;
}

.file-image {
    max-width: 100%;
}

.file-name-container {
    /* width: 75px;
    margin: auto; */
    text-align: center;
}

#input {
    font-size: 12px;
    font-weight: bold;
    color: white; 
    text-shadow: 1px 1px 1px black;
    padding: 1px 6px;
}