.file {
    text-align: center;
    border: 5px solid transparent;
    width: 84px;
    height: 84px;
    justify-self: center;
}

.current {
    background-color: cyan;
    border-radius: 2px;
}

.file-image-container {
    position: relative;
}

.file-image {
    max-width: 90%;
}

.file-icon {
    position: absolute;
    right: 0;
}

.file-name-container {
    height: 30px;
    overflow: hidden;
    text-align: center;
}

.file-name-container-focus {
    text-align: center;
}

#input {
    font-size: 12px;
    font-weight: bold;
    color: white; 
    text-shadow: 1px 1px 1px black;
    padding: 1px 6px;
}