body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	height: 100%;
  overflow: hidden;
}
